
body {
    font-family: Microsoft JhengHei;
}
#banner {
    background-image: url(https://hoaquafuji.com/storage/app/media/NEWS/cac-loai-trai-cay-nhap-khau.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin-top: 3.5rem;
}
.title {
    color: #FA8072;
    font-weight: bold;
}